York Wang

02/01/2018

Data Bootcamp

Prof. Waugh

# Code Practice 1

1. Describe and explain what each of these expressions produces in basic Python:
    - 2+5
    - 2 + 5
    - 2*5
    - 2/5
    - 2**5

In [40]:
2+5; # This adds 2 and 5 together.

7

In [28]:
2 + 5 # This also adds 2 and 5 together.

7

In [29]:
2*5 # This multiplies 2 and 5 together.

10

In [30]:
2/5 # This divides 2 by 5.

0.4

In [31]:
2**5 # This takes 2 to the fifth power.

32

2. What is the value of X after running these statements in order? Why?
    - x = 7
    - x = x + 3

In [32]:
x = 7 # This sets the value of x to 7.

In [34]:
x = x + 3 # This redefines the value of x. It pulls the original value (7), adds 3 to it, and defines the result as hte new value of x.

1. What is the value of y after running these statements in order? Of x? Why?
    - x = 3
    - y = x
    - x = 10

In [36]:
x = 3 # The value of y is not defined. This just sets the value of x to 3.

In [37]:
y = x # This sets the value of y equal to that of x, which is currently set at 3.

In [38]:
x = 10 # The value of y is still 3. We did not run any additional code to redefine y to the new value of x, and thus y is still valued at 3.

1. Does this code run without error? If so, what does it produce? If not, explain why.
    - x = 3
    - x = x/2
    - y = 'abc'
    - z = y + y
    - print(x, z)

In [41]:
# The code runs fine. It produces:
# 1.5 abcabc

1. Does this code run without error? If so, what does it produce? If not, explain why.
    - x = 3
    - y = 24
    - z = y/x
    - print(x, y, z, sep=' | ')

In [49]:
# Yes, it produces:
# 3 | 24 | 8.0

1. Does this code run without error? If so, what does it produce? If not, explain why.
    - x = 3
    - y = '24'
    - z = y/x
    - print(x, z)

In [50]:
# This code yields an error. "z = y/x" tries to divide a string by an integer, which will yield the error.

1. Does this code run without error? If so, what does it produce? If not, explain why
    - x = "I am a #string" # Whoa, a string!

In [52]:
# Yes, it sets the value of x to the string: "I am a #string"

1. Does this code run without error? If so, what does it produce? If not, explain why?
    - x = [1, 2, 3]
    - y = [42, 43]
    - z = x + y
    - print(z)

In [58]:
# Yes, it runs without error. It produces:
# [1, 2, 3, 42, 43]

1. Does this code run without error? If so, what does it produce? If not, explain why?
    - x = [1, 2, 3]
    - y = 42
    - z = x + y

In [59]:
# This code yields an error because it tries to add a list and an integer together.

1. What types are:
    - x1 = 12
    - x2 = 12.0
    - x3 = '12.0'
    - x4 = [12]
    - x5 = [12, 12.0, '12.0']

In [62]:
x1 = 12 # This creates an integer.

In [63]:
x2 = 12.0 # This creates a float.

In [64]:
x3 = '12.0' # This creates a string.

In [65]:
x4 = [12] # This creates a list with one value in it.

In [66]:
x5 = [12, 12.0, '12.0'] # This creates a list with an integer, a float, and a string.

1. Explain the result of each line:
    - type(42)
    - type(42.0)
    - type('42.0')
    - type("42.0")
    - type("""42.0""")
    - type([1, 2])
    - type([1] + [2])
    - type(1 + 2)
    - type(print)

In [1]:
type(42) # This evaluates the input as an integer.

int

In [2]:
type(42.0) # This evaluates the input as a float.

float

In [3]:
type('42.0') # This evaluates the input as a string.

str

In [4]:
type("42.0") # This evaluates the input as a string.

str

In [5]:
type("""42.0""") # This evaluates the input as a string.

str

In [6]:
type([1, 2]) # This evaluates the input as a list.

list

In [8]:
type([1] + [2]) # This evaluates the input as a list.

list

In [9]:
type(1 + 2) # This evaluates the input as an integer.

int

In [11]:
type(print) # This evaluates the input as a function.

builtin_function_or_method

1. Describe and explain the result of this statement:
    - type(float(str(int('1234')))

In [12]:
type(float(str(int('1234')))) # This converts "1234" from a string to an integer to a string to a float. It then reads out what data type the result is (float).

float

1. Describe and explain the result of this statement:
    - type(int(float('12.34')))

In [16]:
type(int(float('12.34'))) # This converts the string to a float to an integer. It then reads out what data type the result is (integer).

int

1. Explain each line:
    - len([1234])
    - len("1234")
    - len(1234)

In [18]:
len([1234]) # This evaluates the length of the input (a list). There is only one item in the list, so it returns a 1.

1

In [20]:
len("1234") # This evaluates the length of the string (1234). Because there are 4 characters in the string, it returns a 4.

4

In [22]:
len(1234) # This returns an error because you cannot evaluate the length of an integer.

TypeError: object of type 'int' has no len()

1. What are the type and legnth of x = []?

In [23]:
x = [] # This is a list with a length of 0 because there are zero values in the list.

1. Convert the string x = "abcde" to a list. What does it look like?

In [27]:
x = "abcde"
y = list("abcde")

# The list looks like: ['a', 'b', 'c', 'd', 'e']

1. Consider the integer x = 1234
    - Convert x to a floating point number.
    - Convert x to a string.
    - Convert x to the list ['1', '2', '3', '4']

In [28]:
x = 1234
float(x)

1234.0

In [29]:
x = 1234
str(x)

'1234'

In [38]:
x = 1234
y = str(x)
z = list(y)

1. How would you convert x to "title case"?
    - x = "luke, i am your father"

In [53]:
x = "luke, i am your father"
y = x.title()
print(y)

Luke, I Am Your Father

1. Consider the string: x = "How many characters and words are in this string?"
    - How many characters does x contain?
    - Convert x to a list of individual characters.
    - Convert x to a list of individual words.
    - How many words does x contain?

In [61]:
x = "How many characters and words are in this string?"

# How many characters does x contain?

y = list(x)
print(len(y))

49

In [62]:
x = "How many characters and words are in this string?"

# Convert x to a list of individual characters.

y = list(x)
print(y)

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']

In [72]:
x = "How many characters and words are in this string?"

# Convert x to a list of individual words.

x.split(sep=" ", maxsplit = -1)

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [73]:
x = "How many characters and words are in this string?"

# How many words does x contain?

y = x.split(sep=" ", maxsplit = -1)

print(len(y))

9